<h1> ようこそ<strong> Bookers</strong> へ！</h1>

    <p class="top_text"> <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
    <p class="top_text"> 印象を共有し交換することができます</p>


    <div class="start-b">
        <%= link_to 'start', books_path, :style => "color: #5f5f5f;" %>
    </div>
