/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 a {
     text-decoration: none;
 }
 

 /* clearfix::after */

 /* top.html settings */
h1 {
    padding: 20px;
}

 .top_text {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
 }

.start-b {
    padding-top: 20px;
    padding-left: 40px;
    text-decoration: underline;
}

/* index.html settings */
table {
    padding-left: 30px;
}

 table td {
     padding-top: 5px;
     padding-right: 10px;
     font-size: 13px;
 }
 .link {
    text-decoration: underline;
 }
 h2 {
     padding-left: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .form-box {
     padding-left: 20px;
 }

 /* show.html settings */
 .flash {
     padding: 10px;
     color: green;
 }
 .show-text {
     padding-top: 20px;
     padding-bottom: 10px;
     padding-left: 40px;
 }
 .link-box {
     padding-left: 20px;
 }
 .show-link {
    color: black;
    text-decoration: underline;
 }

 .form-box-edit {
    padding-left: 20px;
    padding-bottom: 20px;
}